<?xml version="1.0"?>
<configuration>
	<appSettings>
    <add key="ConfigurationFile_URL" value="http://localhost/EES/Configuration/Configuration.xml"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<compilation debug="false"></compilation>
    <httpRuntime executionTimeout="120"/>    
		<authentication mode="Windows"/>
	</system.web>
	<system.codedom>
	</system.codedom>
	<system.webServer>
	</system.webServer>
</configuration>
